doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Serenade
        link(rel="stylesheet", href="public/css/all.scss")
    body 
        header 
            div..container
                .row
                    a. logo(href="index.html")Serenade
                        img
            a#btn
        nav 
            .main-nav 
                a(href = "shop.html")/Shop
                a(href = "about.html")About us
                ul.submenu
                    li 
                    a
                a(href = "cusomize.html")Customize
                a(href = "faq.html")FAQ
        div.banner
        section.