@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url(../images/white_wall_hash.webp);
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
}

.container {
  margin: auto;
  width: 90%;
  max-width: 1140px;
}

.col-1 {
  --num: calc(12 / 1);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-2 {
  --num: calc(12 / 2);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-3 {
  --num: calc(12 / 3);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-4 {
  --num: calc(12 / 4);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-5 {
  --num: calc(12 / 5);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-6 {
  --num: calc(12 / 6);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-7 {
  --num: calc(12 / 7);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-8 {
  --num: calc(12 / 8);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-9 {
  --num: calc(12 / 9);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-10 {
  --num: calc(12 / 10);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-11 {
  --num: calc(12 / 11);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-12 {
  --num: calc(12 / 12);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

@media (min-width: 768px) {
  .col-md-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }
}
@media (min-width: 1200px) {
  .col-lg-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }
}
/* header start */
.main-header {
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.main-header .container {
  padding: 0 16px 0 16px;
  max-width: 1640px;
  margin: auto;
  max-width: 226px;
  width: 90%;
}

.main-header .logo {
  /* width: 200px; */
  left: 0%;
  right: 78.44%;
  top: 0%;
  bottom: 19.27%;
}

.main-header .logo img {
  width: 100%;
  line-height: 100px;
  vertical-align: middle;
}

.main-header .main-nav {
  /* height: 30px; */
  margin-right: 10px;
}

.main-header .main-nav a {
  text-decoration: none;
  color: rgba(53, 47, 47, 0.85);
  font-family: "Jacques Francois";
  font-size: 20px;
  letter-spacing: 1px;
  padding: 10px 0.5em;
  margin-right: 10px;
}

.main-header .main-nav a:hover {
  border-bottom: 2px solid #f09f8f;
}

@media (max-width: 767px) {
  .main-header {
    display: flex;
    justify-content: space-between;
  }

  .main-header .menu-btn {
    position: relative;
    width: 30px;
    cursor: pointer;
  }

  .main-header .menu-btn::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 1px;
    background-color: #222222;
    top: 50%;
    left: 50%;
    box-shadow: 0px 8px 0px #161A14, 0px -8px 0px #161A14;
    transition: all 0.5s;
  }

  .main-header .main-nav {
    display: none;
  }

  .main-nav {
    /* 之後點js打開 */
    display: none;
  }

  .main-nav a {
    display: block;
    width: 100%;
  }

  .display-none {
    display: none !important;
  }

  .header-left {
    /* width: 60%; */
    min-width: 200px;
    display: flex;
  }

  .img-fluid {
    width: 100%;
  }

  .tool-bar ul {
    display: flex;
    margin-top: 65%;
  }
}
@media (min-width: 768px) {
  .display-md-block {
    display: inline-block !important;
    margin-top: 40px;
  }

  .display-md-none {
    display: none;
  }

  .main-header .menu-btn {
    display: none;
  }

  .img-fluid {
    width: 100%;
  }
}
/* header END */
/* banner start */
.banner {
  position: relative;
  padding-bottom: 20px;
  margin: 0 auto;
  background-repeat: no-repeat;
}

/* section start */
.wrap {
  max-width: 1140px;
  margin: auto;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  /* font-family:'Times New Roman', Times, serif; */
}

.item h3 {
  color: #F09F8F;
  font-size: 1.5em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}

.item p {
  font-weight: 500;
  line-height: 2em;
  padding-left: 20px;
}

.item .pic {
  width: 55%;
}

.item .pic img {
  width: 100%;
  vertical-align: middle;
}

.item .text {
  width: 55%;
  color: #222222;
  padding: 50px 30px;
  box-sizing: border-box;
  position: relative;
  z-index: 3;
}

.item :first-child {
  margin-right: -10%;
}

.item:nth-child(1) .text {
  background-color: #FEF4F1;
  border-right: 2px solid #f09f8f;
}

.item:nth-child(2) .text {
  background-color: rgba(251, 220, 205, 0.7764705882);
  border-left: 2px solid #f09f8f;
}

@media (max-width: 768px) {
  .item {
    display: flex;
    flex-wrap: wrap;
  }

  .item .text {
    width: 100%;
  }

  .item .pic {
    width: 100%;
  }
}
/*sectio product start */
section > .container {
  max-width: 1140px;
  padding: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.title {
  color: #F09F8F;
}

.title span {
  display: block;
  font-size: 1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #F09F8F;
  position: relative;
  margin-bottom: 10px;
}

.title span:before, .title span:after {
  content: "";
  position: absolute;
  top: 50%;
  background: #aaa;
  width: 8%;
  height: 1px;
}

.title span:before {
  left: 30%;
}

.title span:after {
  right: 30%;
}

.col-6 > .product {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.text-call-to-action {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1529411765);
  border: 2px solid #ffffff;
  padding: 10px;
  font-weight: 700;
  color: #434343;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%);
}

/* collection end */
/* footer start */
footer {
  background-color: #FFF9F3;
  padding: 40 0 40 0;
}

dt {
  color: #434343;
  border-bottom: 1px dotted #FBDCCD;
  font-weight: 700;
  font-size: 1em;
  margin-bottom: 10px;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

dd {
  margin-bottom: 4px;
}

dd > a {
  color: #434343;
}

.footer-subs form {
  display: flex;
  width: 100%;
  margin: auto 0px;
}

.footer-subs input[type=text],
.footer-subs input[type=submit] {
  border: none;
  padding: 5px 10px;
}

.footer-subs input[type=text] {
  width: 50%;
  flex-grow: 1;
}

.footer-subs input[type=submit] {
  background-color: #7AB7E5;
  width: 10%;
  color: #ffffff;
  border-radius: 10px;
  flex-grow: 1;
  cursor: pointer;
}

.footer-subs h4 {
  color: #434343;
  border-bottom: 1px dotted #FBDCCD;
  font-weight: 700;
  font-size: 1.2em;
  padding-top: 1em;
  padding-bottom: 0.5em;
  margin-bottom: 10px;
}

.footer-subs h4 span {
  color: #f09f8f;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 900;
}

dd img {
  width: 24px;
  margin-right: 10px;
}

dd a {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
}

footer p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #434343;
  line-height: 16px;
}

.breadcrumb {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.breadcrumb a {
  color: #f09f8f;
}

.breadcrumb li::before {
  content: "/";
  padding: 8px;
  color: #f09f8f;
}

.breadcrumb li:first-child::before {
  display: none;
}

aside > ul li a {
  color: #222222;
  padding-left: 20px;
}

.tab-link > li > a.active {
  color: #f09f8f;
}

.btn-primary {
  display: block;
  background-color: #FBDCCD;
  color: #222222;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
}

.text-primary {
  color: #121212;
}

.img-wrap {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.img-overlay {
  overflow: hidden;
  border-radius: 8px;
}

.img-wrap img {
  vertical-align: top;
  transition: all 0.5s;
}

.img-wrap img:hover {
  transform: scale(1.5);
}

.icon-new {
  position: absolute;
  width: 50px;
  line-height: 50px;
  color: #121212;
  border-radius: 100%;
  background-color: #f09f8f;
  left: -25px;
  top: -25px;
}

.flex-space-between {
  justify-content: space-between;
}

.container > h2, .question, .answer, .icon-ans {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container > h2 {
  text-align: center;
  margin: 25px;
}

.icon-q {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: #98b06f;
  margin-right: 8px;
}

.icon-q img {
  vertical-align: middle;
}

.question-content {
  background-color: #FFF9F3;
  border: 1px solid rgba(128, 128, 128, 0.806);
  border-radius: 4px;
  margin-bottom: 20px;
  line-height: 20px;
  padding: 10px 40px 10px 10px;
  cursor: pointer;
}

/* .question-content.active .answer{
    display: block;
    opacity: 1;
    height: auto;
     transition: all 10s;
} */
.question-content.active .icon-arrow {
  transform: rotate(180deg);
}

.icon-ans {
  background: #f09f8f;
  border-radius: 15px;
  padding: 0px 10px;
  margin-right: 8px;
  color: #fff;
}

.answer {
  display: none;
  margin-top: 20px;
  padding-left: -4px;
  /* opacity: 0; */
  /* height: 0; */
}

.question {
  position: relative;
}

.icon-arrow {
  transition: transform 0.3s;
  position: absolute;
  width: 30px;
  line-height: 30px;
  text-align: center;
  /* background-color: pink; */
  right: -35px;
  top: -5px;
}

.customize-txt > h4 {
  font-size: 18px;
  text-align: center;
}

.customize-txt > h4 span {
  color: #f09f8f;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
}

.customize-txt > h5 {
  text-align: center;
  color: grey;
}

section.form {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-custom {
  max-width: 700px;
  width: 90%;
  margin: auto;
}

.input-width {
  width: 100%;
  padding: 10px;
  border: none;
  border: 1px solid #f09f8f;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
  display: block;
}

.btn-primary-form {
  cursor: pointer;
  background-color: rgba(240, 159, 143, 0.758);
}/*# sourceMappingURL=all.css.map */