* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.container {
  max-width: 1140px;
  width: 90%;
  margin: auto;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.img {
  max-width: 100%;
  background-position: center center;
}

.img-fluid {
  width: 100%;
}

.img-rounded {
  border-radius: 8px;
}

.img-circle {
  border-radius: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.col-1 {
  --num:calc(12 / 1);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-2 {
  --num:calc(12 / 2);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-3 {
  --num:calc(12 / 3);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-4 {
  --num:calc(12 / 4);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-5 {
  --num:calc(12 / 5);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-6 {
  --num:calc(12 / 6);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-7 {
  --num:calc(12 / 7);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-8 {
  --num:calc(12 / 8);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-9 {
  --num:calc(12 / 9);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-10 {
  --num:calc(12 / 10);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-11 {
  --num:calc(12 / 11);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-12 {
  --num:calc(12 / 12);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

@media (min-width: 768px) {
  .col-md-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }
}
.fz-1 {
  font-size: 1em;
}

.fz-2 {
  font-size: 2em;
}

.fz-3 {
  font-size: 3em;
}

.fz-4 {
  font-size: 4em;
}

.fz-5 {
  font-size: 5em;
}

.fz-6 {
  font-size: 6em;
}

.fz-7 {
  font-size: 7em;
}

.fz-8 {
  font-size: 8em;
}

.fz-9 {
  font-size: 9em;
}

.fz-10 {
  font-size: 10em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mb-3 {
  margin-bottom: 3em;
}

.mb-4 {
  margin-bottom: 4em;
}

.mb-5 {
  margin-bottom: 5em;
}

header {
  padding: 20px 0px;
  background-color: lightblue;
}

header > .container > .row {
  justify-content: space-between;
}

@media (max-width: 767px) {
  header {
    position: relative;
  }

  nav {
    position: absolute;
    width: 100%;
    top: 76px;
    left: 0;
  }

  nav li {
    text-align: center;
    line-height: 60px;
  }

  nav a {
    display: block;
    text-align: center;
    background-color: #845151;
    color: black;
  }

  .submenu {
    display: none;
  }

  .submenu.active {
    display: block;
  }
}
.banner {
  background-color: pink;
  height: 400px;
}

.news.section {
  background-color: lightyellow;
  height: 400px;
}

.product1.section {
  background-color: lightyellow;
  height: 400px;
}

.product2.section {
  background-color: lightyellow;
  height: 400px;
}